<%= form_for(@kishangarh_marble) do |f| %>
  <% if @kishangarh_marble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kishangarh_marble.errors.count, "error") %> prohibited this kishangarh_marble from being saved:</h2>

      <ul>
      <% @kishangarh_marble.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, KishangarhMarble::CATEGORY %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :kishangarh_marble_pics %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
