<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= render "layouts/side_menu" %>
        <article>
          <div class="para">
          <h3>Aarna Marble</h3>
            <p>
              Aarna is a village near by Rajsamand (Rajasthan). Aarna marble has white background and light green lining shade. It can also have light gray and light green lining. White background appears less due to heavy linings. Aarna marble is one of the common marble used in flooring. Clear marble with white background is rare to found.
            </p>
          </div>
          <div class="span7 popular_products">
          <ul class="thumbnails list-unstyled">
            <% @aarna_marbles.each do |aarna_marble| %>
              <li class="col-md-6">
                <div class="thumbnail">
                  <div class="popup-gallery">
                      <span>
                        <%= link_to(image_tag(aarna_marble.kishangarh_marble_pics.to_s, :width=>210,:height=>210),aarna_marble.zoom_image.to_s, title: aarna_marble.name) %>
                      </span>
                  </div>
                  <div class="productPicBoxText fonter" >
                    <span><%= aarna_marble.name %></span>
                    <% if aarna_marble.price.present? %>
                      <span style="float:right">Price <%= aarna_marble.price %></span>
                    <% end %>
                  </div>
                </div>
                <% if current_admin %>
                  <div class="productPicBoxText fonter">
                    <span><%= link_to 'Edit',edit_kishangarh_marble_path(aarna_marble) %> </span>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        </article>
      </div>
      <%= render 'layouts/query_area' %>
    </div>
  </div>
</div>