<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div class="col-md-8" style="padding-top:15px;">
        <%= render "layouts/side_menu" %>
        <article>
          <div class="para">
            <h3>Pink Marble</h3>
            <p>
              Pink Marble Stones have fine finishing, smooth surface and appealing looks. these Pink Marble Stones are high on demand in the global markets.  Pink Marble Stone can be used for floors, walls, and borders. Largely known for excellent finishing, smooth surface and durability, our Pink Marble Stone is surely the best choice to vouch for interior decoration.
            </p>
          </div>
          <div class="span7 popular_products">
          <ul class="thumbnails list-unstyled">
            <% @pink_marbles.each do |pink_marble| %>
              <li class="col-md-6">
                <div class="thumbnail">
                  <span><%= image_tag pink_marble.kishangarh_marble_pics.to_s, :width=>210,:height=>210 %></span>
                  <div class="productPicBoxText fonter" >
                    <span><%= pink_marble.name %></span>
                    <% if pink_marble.price.present? %>
                      <span style="float:right">Price <%= pink_marble.price %></span>
                    <% end %>
                  </div>
                </div>
                <% if current_admin %>
                  <div class="productPicBoxText fonter">
                    <span><%= link_to 'Edit',edit_kishangarh_marble_path(pink_marble) %> </span>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        </article>
      </div>
      <%= render 'layouts/query_area' %>
    </div>
  </div>
</div>