<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kishangarh_marble.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @kishangarh_marble.price %>
</p>

<%= link_to 'Edit', edit_kishangarh_marble_path(@kishangarh_marble) %> |
<%= link_to 'Back', kishangarh_marbles_path %>
