<div id="letter-container" class="letter-container">
  <div class="col-md-6">
    <h2>
      <%= link_to("Makrana Marble",makrana_marble_index_path) %>
    </h2>
  </div>
  <div class="col-md-6">
    <h2>
      <%= link_to("Kishangarh Marble", kishangarh_marbles_path) %>
    </h2>
  </div>
  <div class="col-md-12">
    <h2>
      <%= image_tag('/logoshakti.png',alt: "Shakti Marble") %>
    </h2>
  </div>
  <div class="col-md-6">
    <h2>
      <%= link_to("Granite",granites_path) %>
    </h2>
  </div>
  <div class="col-md-6">
    <h2>
      <%= link_to("Kota Stone",kota_stones_path) %>
    </h2>
  </div>
</div>