<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @marble_product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @marble_product.price %>
</p>

<%= link_to 'Edit', edit_marble_product_path(@marble_product) %> |
<%= link_to 'Back', marble_products_path %>
