<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kota_stone.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @kota_stone.price %>
</p>

<%= link_to 'Edit', edit_kota_stone_path(@kota_stone) %> |
<%= link_to 'Back', kota_stones_path %>
