<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div id="carousel-example-generic"  class="carousel slide" data-ride="carousel" style="width:1140px; margin-bottom:20px;">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("/bannermarble1.png") %>
          </div>
          <div class="item">
            <%= image_tag("/bannermarble2.png") %>
          </div>
          <div class="item">
            <%= image_tag("/bannermarble3.png") %>
          </div>
        </div>
      </div>
      <div class="col-md-8" style="padding-top:15px; border-top: 1px solid #428bca;">
        <%= render "layouts/side_menu" %>
	      <article>
	      	<h3>Kumari Marble</h3>
	        <p>
	          <b>Borawar kumari</b>   is chipest makrana marble because it is bluish shading
						It’s price range is 15~40 Rs / sq. feet
						Name is borawar kumari because mines of these marble found in borawar a town near to makrana (7 km away from makrana station)
	 				</p>
	 				<p>
	          <b>Mataver kumari </b> is higher grade than borawar kumari this kumari marble has white base and small crystal size than borawar kumari Cost is start from 50~100
					</p>
					<div class="span7 popular_products">
				    <ul class="thumbnails list-unstyled">
				      <% @kumari_marbles.each do |kumari_marble| %>
				        <li class="col-md-6">
				          <div class="thumbnail">
				            <span><%= image_tag kumari_marble.makrana_marble_pics.to_s, :width=>210,:height=>210 %></span>
				            <div class="productPicBoxText fonter" >
				              <span><%= kumari_marble.name %></span>
				              <% if kumari_marble.price.present? %>
				                <span style="float:right">Price <%= kumari_marble.price %></span>
				              <% end %>
				            </div>
				          </div>
                  <% if current_admin %>
                    <div class="productPicBoxText fonter">
                      <span><%= link_to 'Edit',edit_makrana_marble_path(kumari_marble) %> </span>
                    </div>
                  <% end %>
				        </li>
				      <% end %>
				    </ul>
			  </div>
			</article>
	    </div>
		  <div class="col-md-4">
		    <div class="panel panel-primary">
			    <div class="panel-heading">
			      <h3 style="margin-top:0px;">Intrested?</h3><h3 class="panel-title">Get in Touch with the owner</h3>
			    </div>
			    <%= render "layouts/query" %>
			  </div>
			</div>
		  <div class="col-md-4">
		    <div class="panel panel-primary">
		      <div class="panel-heading">
		        <h3 class="panel-title">Specifications</h3>
		      </div>
		      <div class="panel-body">
		        <p>Makrana kumari marble is very(lowest) cheap marble in price base because crystal size of kumari marble is greater than other makrana marble type.</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>