<div class="col-sm-12">
  <div class="container">
    <div class="row">
    	<div id="carousel-example-generic"  class="carousel slide" data-ride="carousel" style="width:1140px; margin-bottom:20px;">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("/bannermarble1.png") %>
          </div>
          <div class="item">
            <%= image_tag("/bannermarble2.png") %>
          </div>
          <div class="item">
            <%= image_tag("/bannermarble3.png") %>
          </div>
        </div>
      </div>
      <div class="col-md-8" style="padding-top:15px; border-top: 1px solid #428bca;">
        <div class="grid">
          <ol class="categories">
	          <li><%= link_to("First Grade White Marble","#") %></li>

	          <li><%= link_to("Second Grade White Marble","#") %></li>

	          <li><%= link_to("Third Grade White Marle","#") %></li>
        	</ol>
        </div>
	        <article>
	        <p>
	          <b>First grade white</b> of makrana white marble is very white color marble.And the cost of first grade makrana white marble is 700-2000 per square feet.
	        </p>
	        <p>
	          <b>Second grade makrana </b> white marble is less white than first grade white marble.And the price range of second grade makrana white marble is 400-700 per square feet.
	        </p>
	        <p>
	          <b>Third Grade Makrana</b> White marble is less white than second
								grade white marble.And the price range of second grade makrana white marble is 150-400 per square feet.
	        </p>
	        </article>
	      <%= link_to 'New Makrana Marble', new_makrana_marble_path %>
    	</div>
		  <div class="col-md-4">
		    <div class="panel panel-primary">
			    <div class="panel-heading">
			      <h3 style="margin-top:0px;">Intrested?</h3><h3 class="panel-title">Get in Touch with the owner</h3>
			    </div>
			    <div class="panel-body">
			      <form accept-charset="UTF-8" action="/properties/send_query" class="form form-horizontal" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
			        <div class="form-group">
			          <div class="col-md-12"><input class="form-control" id="email" name="email" placeholder="Email" type="text"></div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12"><input class="form-control" id="name" name="name" placeholder="Name" type="text"></div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12"><input class="form-control datetime" id="phone" name="phone" placeholder="Mobile No." type="text"></div>
			        </div>
			        <div class="form-actions form-actions-padding-sm">
			          <div class="row">
			            <div class="col-md-12">
			              <input class="pull-right btn btn-warning" id="do_migration" name="commit" type="submit" value="Send Message">
			            </div>
			          </div>
			        </div>
			      </form>
			    </div>
		  	</div>
			</div>
		</div>
	</div>
</div>