<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= render "layouts/side_menu" %>
        <article>
          <div class="para">
          	<h3>Albeta Marble</h3>
  	        <p>
  	          <span class="underline">Makrana White Albeta</span> :-  Makrana White Albeta Marble are of small dark black lining .It is second top quality in makrana marble.
  	        </p>
  	        <p>
  	          <span class="underline">Makrana Brown Albeta  </span> :- In makrana brown Albeta  marble the background color is brown based with small dark black lining .It is second top quality in Makrana marble.
  	        </p>
  	        <p>
  	          <span class="underline">Makrana Albeta Marble Tiles </span> :- There are many sizes in makrana white albeta marble tiles.
  	        </p>
          </div>
	        <div class="span7 popular_products">
  			    <ul class="thumbnails list-unstyled">
  			      <% @albeta_marbles.each do |albeta_marble| %>
  			        <li class="col-md-6">
  			          <div class="thumbnail">
                    <div class="popup-gallery">
                      <span>
                        <%= link_to(image_tag(albeta_marble.makrana_marble_pics.to_s, :width=>210,:height=>210), albeta_marble.zoom_image.to_s, title: albeta_marble.name) %>
                        </span>
                      </div>
                    </div>
  			            <div class="productPicBoxText fonter" >
  			              <span><%= albeta_marble.name %></span>
  			              <% if albeta_marble.price.present? %>
  			                <span style="float:right">Price <%= albeta_marble.price %></span>
  			              <% end %>
  			            </div>
  			          </div>
                  <% if current_admin %>
                    <div class="productPicBoxText fonter">
                      <span><%= link_to 'Edit',edit_makrana_marble_path(albeta_marble) %> </span>
                    </div>
                  <% end %>
  			        </li>
  			      <% end %>
  			    </ul>
			    </div>
        </article>
	    </div>
      <%= render 'layouts/query_area' %>
		</div>
	</div>
</div>