<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      	<%= render "layouts/side_menu" %>
        <article>
          <div class="para">
          	<h3>Dungri Marble</h3>
  	        <p>
  	          <span class="underline"> Makrana Dungari Marble</span> is very famous product of makrana city.In Makrana dungari marble the background is white base with black lining. In Makrana Chuk Dungari Marble There are some more white glow with black lining.
  	        </p>
  	        <p>
  	          <span class="underline"> Makrana Dungri Marble Price/cost </span> :-The approximate cost of Makrana chuck dungari marble is 150-300 rupees per square feet.
  	        </p>
  	        <p>
  	          <span class="underline"> Makrana Chuck Dungri Marble</span>  :-In Makrana Chuk Dungari Marble There are some more white glow with black lining.
  	        </p>
  	        <p>
  	          <span class="underline"> Makrana Chuk Doongri Marble Price </span> :-The approximate cost of Makrana chuck dungari marble is 150-300 rupees per square feet.
  	        </p>
  	        <p>
  	          <span class="underline">  Makrana Adanga Tiles </span> :-There are many size in Makrana Dungari Marble/Makrana  Doongri Marble /Makrana Adanga Marble  tiles. Here i defined the size of makrana Adanga marble tiles .Tiles means the length and width of marble is greater than one feet square .In makrana adanga  marble there are nine different sizes such as 24*21 , 24*18 , 24*15 , 24*12 , 18*18 , 15*15 , 12*12 , 18*12 , 18*15 , 21*15 , 21*18 , 15*12 inches .
  	        </p>
  	        <p>
  	          <span class="underline"> Makrana Adanga Tiles Cost/Price </span> :-The cost of makrana doongri/Adanga Marble tiles is 20-50 rupees per square feet.
  	        </p>
  	        <p>
  	          <span class="underline"> Makrana Variety Marble Cost </span> :-The cost of makrana doongri/Adanga Marble variety is 15-20 rupees per square feet.
  	        </p>
  	        <p>
  	          <span class="underline"> Makrana Adanga Tiles Cost/Price </span> :-The cost of makrana doongri/Adanga Marble tiles is 20-50 rupees per square feet.
          	</p>
          </div>
        	<div class="span7 popular_products">
				    <ul class="thumbnails list-unstyled">
				      <% @dungri_marbles.each do |dungri_marble| %>
				        <li class="col-md-6">
				          <div class="thumbnail">
				            <div class="popup-gallery">
                      <span>
                        <%= link_to(image_tag(dungri_marble.makrana_marble_pics.to_s, :width=>210,:height=>210), dungri_marble.zoom_image.to_s, title: dungri_marble.name) %>
                      </span>
                    </div>
				            <div class="productPicBoxText fonter" >
				              <span><%= dungri_marble.name %></span>
				              <% if dungri_marble.price.present? %>
				                <span style="float:right">Price <%= dungri_marble.price %></span>
				              <% end %>
				            </div>
				          </div>
                  <% if current_admin %>
                    <div class="productPicBoxText fonter">
                      <span><%= link_to 'Edit',edit_makrana_marble_path(dungri_marble) %> </span>
                    </div>
                  <% end %>
				        </li>
				      <% end %>
				    </ul>
				  </div>
        </article>
	    </div>
      <%= render 'layouts/query_area' %>
		  <div class="col-md-4">
		    <div class="panel panel-primary">
		      <div class="panel-heading">
		        <h3 class="panel-title">Specifications</h3>
		      </div>
		      <div class="panel-body">
		        <p>This variety has good whiteness not as compared to albeto or white and slabs of this variety also form designer patterns which look very attractive when floor area is big and visible.</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>