<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div id="carousel-example-generic"  class="carousel slide" data-ride="carousel" style="width:1140px; margin-bottom:20px;">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("/bannermarble1.jpg") %>
          </div>
          <div class="item">
            <%= image_tag("/bannermarble2.jpg") %>
          </div>
          <div class="item">
            <%= image_tag("/bannermarble3.jpg") %>
          </div>
        </div>
      </div>
      <div class="col-md-8" class="top_line">
         <%= render "layouts/side_menu" %>
          <article class="para">
            <h4>Makrana Marble</h4>
            Makrana Marble is one of the most well liked and chosen construction material rock which is employed on a extremely wide scale , around the world.
            <br>
             It needs no chemical reinforcement like Italian marble, no pin holes, no colour change and loss of polish. This is practically verified by the buildings  and numerous temples, mosques , churches and monuments in India. Thus, a life of next seven generation is guarantied also know as milky white marble.
            <br>
              Makrana marble are classified according to their crystal size in marble.
          </article>
          <% if current_admin %>
              <%= link_to 'New Makrana Marble', new_makrana_marble_path %>
          <% end %>
      </div>
      <%= render 'layouts/query_area' %>
    </div>
  </div>
</div>