<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @makrana_marble.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @makrana_marble.price %>
</p>

<%= link_to 'Edit', edit_makrana_marble_path(@makrana_marble) %> |
<%= link_to 'Back', makrana_marbles_path %>
