<% if params[:controller] == 'makrana_marble' %>
  <% marbleclass='active' %>
<% elsif params[:controller] == 'granites' %>
  <% graniteclass='active' %>
<% elsif params[:controller] == 'marble_products' %>
  <% marble_productclass='active' %>
<% elsif params[:controller] == 'kishangarh_marbles' %>
  <% kishangarh_marlbleclass='active' %>
<% elsif params[:controller] == 'kota_stones' %>
  <% kota_stoneclass='active' %>
<% end %>

<div class="panel-group grid" id="accordion">
  <div class="panel panel-default <%= 'display_none' if params[:controller] != 'makrana_marble' %>">
    <h4 class="panel-title">
      <ul class="categories">
        <li><%= link_to "Makrana Marble",makrana_marble_index_path,:class=>"#{marbleclass}" %></li>
        <li><%= link_to("White Marble",white_marble_makrana_marble_index_path) %></li>
        <li><%= link_to("Albeta Marble",albeta_marble_makrana_marble_index_path) %></li>
        <li><%= link_to("Dungri Marble",dungri_marble_makrana_marble_index_path) %></li>
        <li><%= link_to("Kumari Marble",kumari_makrana_marble_index_path) %></li>
      </ul>
    </h4>
  </div>
  <div class="panel panel-default <%= 'display_none' if params[:controller] != 'granites' %>">
    <h4 class="panel-title">
      <ul class="categories">
        <li><%= link_to "Granite",granites_path,:class=>"#{graniteclass}" %></li>
        <li><%= link_to("North Area",north_granites_path) %></li>
        <li><%= link_to("South Area",south_granites_path) %></li>
      </ul>
    </h4>
  </div>
  <div class="panel panel-default <%= 'display_none' if params[:controller] != 'kishangarh_marbles' %>">
    <h4 class="panel-title">
      <ul class="categories">
        <li><%= link_to "Kishangarh",kishangarh_marbles_path,:class=>"#{kishangarh_marlbleclass}" %></li>
        <li><%= link_to("Morwad Marble", morwad_marble_kishangarh_marbles_path)  %></li>
        <li><%= link_to("Toronto", toronto_kishangarh_marbles_path)  %></li>
        <li><%= link_to("Aarna", aarna_kishangarh_marbles_path)  %></li>
        <li><%= link_to("Dharmeta",dharmeta_kishangarh_marbles_path)  %></li>
        <li><%= link_to("Katni",katni_kishangarh_marbles_path)  %></li>
        <li><%= link_to("Sawar Marble",sawar_marble_kishangarh_marbles_path)  %></li>
        <li><%= link_to("Pink Marble",pink_marble_kishangarh_marbles_path)  %></li>
      </ul>
    </h4>
  </div>
  <div class="panel panel-default <%= 'display_none' if params[:controller] != 'kota_stones' %>">
    <h4 class="panel-title">
      <ul class="categories">
        <li><%= link_to "Kota Stone", kota_stones_path ,:class=>"#{kota_stoneclass}" %>
        </li>
      </ul>
    </h4>
  </div>
  <div class="panel panel-default <%= 'display_none' if params[:controller] != 'marble_products' %>">
    <h4 class="panel-title">
      <ul class="categories">
        <li><%= link_to "Products", marble_products_path,:class=>"#{marble_productclass}" %></li>
        <li><a href="#">Flooring and Design</a></li>
        <li><a href="#">Statue</a></li>
        <li><a href="#">Temple</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
    </h4>
  </div>
</div>