<!DOCTYPE html>
<html>
<head>
  <title>Marble</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div class="row header" style="margin-bottom:20px;">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-5" , style = "padding-top:15px;">
		        <%= link_to image_tag('/logoshakti.png',alt: "Shakti Marble",width: '200', height: '36'), root_path %>
		      </div>
		      <div class="col-md-6">
		        <ul class="nav navbar-nav navbar-right homer">
		          <li><%= link_to "Home",root_path %></li>
		          <li><a href="#">About</a></li>
		          <li class="dropdown">
		            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Product <b class="caret"></b></a>
		            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
		              <li role="presentation"><%= link_to("Makrana Marble",makrana_marble_index_path) %></li>
		              <li role="presentation"><%= link_to("Granite",granites_path) %></li>
		              <li role="presentation"><%= link_to("Kishangarh Marble",kishangarh_marbles_path)  %></li>
		              <li role="presentation"><%= link_to "Kota Stone", kota_stones_path %></li>
		              <li role="presentation"><%= link_to("Marble Products",marble_products_path) %></li>
		            </ul>
		          </li>
		          <li><%= link_to "Contact",contact_welcome_index_path %></li>
		          <% if current_admin.present? %>
					      <li class="dropdown">
					        <%= link_to("#{current_admin.email} <b class='caret'></b>".html_safe, "#", :class=> "dropdown-toggle", :'data-toggle' => "dropdown") %>
					        <ul class="dropdown-menu">
					          <li><%= link_to("<i class='icon-off'></i> Logout".html_safe, destroy_admin_session_path, :method => "delete", :data => {:confirm => "Are u sure want to logout?"}) %></li>
					        </ul>
					      </li>
					    <% else %>
					      <li class="dropdown " id="menuLogin" style="color:#000;">
					        <%= link_to("Login", new_admin_session_path, :class=> "dropdown-toggle ", :'data-toggle' => "dropdown") %>
					        <div class="dropdown-menu popup_login">
					          <%= form_for(:admin, url: admin_session_path, :authenticity_token => true, :class=>"form-horizontal") do |f| %>
					            <h3>Sign In</h3>
					              <%= f.text_field :email, required: false, placeholder: "email", label: false, autofocus: true, :class=>"input-large" %>
					              <%= f.text_field :password, type: :password, required: false, label: false, placeholder: "password", :class=>"input-large" %>
					              <div class="clearfix"></div>
					              <%#= f.text_field :remember_me, as: :boolean if devise_mapping.rememberable? %>
					              <div class="clearfix"></div>
					              <%= f.submit %>
					          <% end %>
					        </div>
					      </li>
					    <% end %>
		        </ul>
		      </div>
		    </div>
		  </div>
			<div class="line"></div>
		</div>
		<div class="container">
			<div class="col-sm-12 special_menu">
			  <%= render "layouts/menu" %>
			</div>
				<%= yield %>
		</div>
		<div class="row footer">
			<div class ="zigzag"></div>
		 	<div class="container">
		 		<span class="pull-right"><h6>© 2009-2014 ShaktiMarble. All rights reserved.</h6></span>
		 	</div>
		</div>
	</body>
</html>
